In [26]:
import pip
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,roc_auc_score

In [27]:
import pandas as pd
import numpy as np
import pandas.testing as tm
import matplotlib.pyplot as plt

In [28]:
data=pd.read_csv(r'C:\Users\Student\Downloads\visit3_TotalOutcome (2).csv')

In [29]:
np.random.seed(1024)

In [30]:
y=data.CLASS
x=data.drop("CLASS", axis = 1)
z=x.drop("APASIU21", axis = 1)
a=z.drop("APBSIU21", axis = 1)
b=a.drop("LIPA08", axis = 1)
c=b.drop("CHMA09", axis = 1)

In [31]:
c_train, c_test, y_train, y_test = train_test_split(c,y,test_size = 0.2)
ccols = c_train.columns
csols = c_test.columns

In [32]:
c_train.head()

,ID_C,BMI32,ETHANL32,CURSMK31,MOVE,CARB,CHOL,DFIB,PROT,SFAT,...,HYPERT34,CIGTYR01,V3AGE31,RACEGRP,DIABTS33,ELEVEL01,GENDER,CIGT31,ANTA01,CHOLMDCODE31
1814,2355,28.859148,0.0,0.0,11.75,208.300000,186.84,26.45,81.130000,7.02,...,1,1040,53,1,0.0,6,1,2,182.0,1.0
1568,2040,23.153989,13.2,0.0,6.25,204.125714,283.74,15.46,53.388571,16.72,...,1,640,67,1,0.0,3,1,2,175.0,0.0
1450,1886,31.618853,0.0,0.0,4.25,167.950000,533.58,22.95,167.660000,21.95,...,1,0,62,1,1.0,3,1,3,168.0,0.0
10771,13933,25.544703,0.0,0.0,5.50,439.230000,605.81,69.97,176.250000,45.87,...,1,0,68,0,1.0,2,0,3,164.0,0.0
7439,9643,40.305398,0.0,1.0,6.00,299.410000,215.04,23.96,52.850000,13.66,...,1,700,58,0,1.0,3,0,1,160.0,0.0

In [34]:
from impyute.imputation.cs import mice

# start the MICE training
imputed_c_train=mice(c_train.values, m =5)

In [35]:
from impyute.imputation.cs import mice

# start the MICE training
imputed_c_test=mice(c_test.values, m =5)

In [36]:
m1 = c_train.dtypes
m2 = c_test.dtypes

In [37]:
m1

ID_C                int64
BMI32             float64
ETHANL32          float64
CURSMK31          float64
MOVE              float64
CARB              float64
CHOL              float64
DFIB              float64
PROT              float64
SFAT              float64
TFAT              float64
TCAL              float64
HDLSIU31          float64
LDLSIU32          float64
TCHSIU31          float64
TRGSIU31          float64
SBPC20            float64
SBPC21            float64
ANTC3A            float64
ANTC3B            float64
ECGMI32           float64
HMTC2             float64
HYPTMD31          float64
ANTICOAGCODE31      int64
ASPIRINCODE31       int64
STATINCODE31        int64
HYPTMDCODE31        int64
HYPERT34            int64
CIGTYR01            int64
V3AGE31             int64
RACEGRP             int64
DIABTS33          float64
ELEVEL01            int64
GENDER              int64
CIGT31              int64
ANTA01            float64
CHOLMDCODE31      float64
dtype: object

In [38]:
m2

ID_C                int64
BMI32             float64
ETHANL32          float64
CURSMK31          float64
MOVE              float64
CARB              float64
CHOL              float64
DFIB              float64
PROT              float64
SFAT              float64
TFAT              float64
TCAL              float64
HDLSIU31          float64
LDLSIU32          float64
TCHSIU31          float64
TRGSIU31          float64
SBPC20            float64
SBPC21            float64
ANTC3A            float64
ANTC3B            float64
ECGMI32           float64
HMTC2             float64
HYPTMD31          float64
ANTICOAGCODE31      int64
ASPIRINCODE31       int64
STATINCODE31        int64
HYPTMDCODE31        int64
HYPERT34            int64
CIGTYR01            int64
V3AGE31             int64
RACEGRP             int64
DIABTS33          float64
ELEVEL01            int64
GENDER              int64
CIGT31              int64
ANTA01            float64
CHOLMDCODE31      float64
dtype: object

In [39]:
imputed_c_train = pd.DataFrame(imputed_c_train,columns=ccols)

In [40]:
imputed_c_train

,ID_C,BMI32,ETHANL32,CURSMK31,MOVE,CARB,CHOL,DFIB,PROT,SFAT,...,HYPERT34,CIGTYR01,V3AGE31,RACEGRP,DIABTS33,ELEVEL01,GENDER,CIGT31,ANTA01,CHOLMDCODE31
0,2355.0,28.859148,0.0,0.0,11.75,208.300000,186.84,26.45,81.130000,7.02,...,1.0,1040.0,53.0,1.0,0.0,6.0,1.0,2.0,182.0,1.0
1,2040.0,23.153989,13.2,0.0,6.25,204.125714,283.74,15.46,53.388571,16.72,...,1.0,640.0,67.0,1.0,0.0,3.0,1.0,2.0,175.0,0.0
2,1886.0,31.618853,0.0,0.0,4.25,167.950000,533.58,22.95,167.660000,21.95,...,1.0,0.0,62.0,1.0,1.0,3.0,1.0,3.0,168.0,0.0
3,13933.0,25.544703,0.0,0.0,5.50,439.230000,605.81,69.97,176.250000,45.87,...,1.0,0.0,68.0,0.0,1.0,2.0,0.0,3.0,164.0,0.0
4,9643.0,40.305398,0.0,1.0,6.00,299.410000,215.04,23.96,52.850000,13.66,...,1.0,700.0,58.0,0.0,1.0,3.0,0.0,1.0,160.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9760,788.0,35.269790,0.0,0.0,10.00,76.410000,151.56,7.81,50.870000,7.83,...,0.0,320.0,59.0,0.0,0.0,1.0,1.0,2.0,168.0,0.0
9761,3465.0,28.400548,0.0,1.0,9.75,177.510000,134.46,16.58,47.890000,22.96,...,1.0,1350.0,66.0,1.0,0.0,1.0,1.0,1.0,174.0,0.0
9762,3305.0,23.848687,0.0,1.0,5.25,303.740000,274.23,39.87,103.140000,20.12,...,1.0,460.0,54.0,0.0,0.0,3.0,0.0,1.0,162.0,0.0
9763,11784.0,33.412409,0.0,0.0,8.25,90.000000,159.25,5.12,51.910000,13.65,...,1.0,7.0,58.0,1.0,0.0,3.0,0.0,2.0,173.0,0.0
9764,7898.0,34.687474,0.0,0.0,5.25,239.750000,325.48,32.31,101.100000,21.46,...,0.0,820.0,65.0,1.0,0.0,2.0,0.0,2.0,151.0,1.0

In [41]:
imputed_c_train.isna().sum()

ID_C              0
BMI32             0
ETHANL32          0
CURSMK31          0
MOVE              0
CARB              0
CHOL              0
DFIB              0
PROT              0
SFAT              0
TFAT              0
TCAL              0
HDLSIU31          0
LDLSIU32          0
TCHSIU31          0
TRGSIU31          0
SBPC20            0
SBPC21            0
ANTC3A            0
ANTC3B            0
ECGMI32           0
HMTC2             0
HYPTMD31          0
ANTICOAGCODE31    0
ASPIRINCODE31     0
STATINCODE31      0
HYPTMDCODE31      0
HYPERT34          0
CIGTYR01          0
V3AGE31           0
RACEGRP           0
DIABTS33          0
ELEVEL01          0
GENDER            0
CIGT31            0
ANTA01            0
CHOLMDCODE31      0
dtype: int64

In [42]:
imputed_c_test = pd.DataFrame(imputed_c_test,columns=csols)
imputed_c_test

,ID_C,BMI32,ETHANL32,CURSMK31,MOVE,CARB,CHOL,DFIB,PROT,SFAT,...,HYPERT34,CIGTYR01,V3AGE31,RACEGRP,DIABTS33,ELEVEL01,GENDER,CIGT31,ANTA01,CHOLMDCODE31
0,3896.0,30.720427,0.0,0.0,6.00,169.310000,137.030000,13.580000,51.880000,13.720000,...,1.0,0.0,59.0,1.0,0.0,5.0,0.0,3.0,165.0,0.0
1,770.0,26.119770,187.6,0.0,9.25,135.510000,230.150000,13.130000,90.550000,15.430000,...,1.0,1560.0,60.0,1.0,0.0,5.0,1.0,2.0,172.0,0.0
2,13820.0,43.679652,0.0,0.0,4.00,97.760000,332.400000,9.600000,78.390000,30.860000,...,1.0,780.0,57.0,0.0,0.0,1.0,0.0,2.0,167.0,0.0
3,10756.0,26.361722,50.4,0.0,11.25,439.768571,607.940000,43.950000,192.145714,44.510000,...,0.0,0.0,54.0,1.0,0.0,6.0,1.0,3.0,181.0,0.0
4,3720.0,25.027126,0.0,0.0,7.75,191.840000,215.710000,17.970000,55.180000,22.910000,...,0.0,0.0,50.0,1.0,0.0,5.0,0.0,3.0,170.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,2958.0,27.040182,0.0,0.0,4.75,85.220000,176.170000,6.240000,44.300000,21.470000,...,0.0,320.0,58.0,1.0,0.0,3.0,0.0,2.0,164.0,0.0
2438,1784.0,40.000155,0.0,0.0,3.75,212.876157,242.527961,18.912131,76.832834,18.998748,...,1.0,0.0,61.0,0.0,0.0,6.0,0.0,3.0,153.0,0.0
2439,7666.0,29.082057,13.2,0.0,6.50,187.805714,121.540000,14.220000,39.078571,16.790000,...,1.0,210.0,64.0,1.0,1.0,6.0,1.0,2.0,180.0,0.0
2440,15299.0,33.854000,0.0,1.0,9.75,120.430000,259.590000,14.160000,77.290000,27.410000,...,1.0,1060.0,60.0,0.0,0.0,5.0,1.0,1.0,182.0,0.0
2441,8303.0,28.231561,0.0,0.0,5.75,229.740000,264.640000,22.610000,84.770000,19.180000,...,1.0,0.0,69.0,1.0,0.0,3.0,0.0,3.0,162.0,0.0

In [43]:
imputed_c_test.isna().sum()

ID_C              0
BMI32             0
ETHANL32          0
CURSMK31          0
MOVE              0
CARB              0
CHOL              0
DFIB              0
PROT              0
SFAT              0
TFAT              0
TCAL              0
HDLSIU31          0
LDLSIU32          0
TCHSIU31          0
TRGSIU31          0
SBPC20            0
SBPC21            0
ANTC3A            0
ANTC3B            0
ECGMI32           0
HMTC2             0
HYPTMD31          0
ANTICOAGCODE31    0
ASPIRINCODE31     0
STATINCODE31      0
HYPTMDCODE31      0
HYPERT34          0
CIGTYR01          0
V3AGE31           0
RACEGRP           0
DIABTS33          0
ELEVEL01          0
GENDER            0
CIGT31            0
ANTA01            0
CHOLMDCODE31      0
dtype: int64

In [44]:
import sklearn.linear_model as sk
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(C=1.0, penalty = 'l1', solver='liblinear',class_weight='balanced')
clf.fit(imputed_c_train,y_train)

LogisticRegression(class_weight='balanced', penalty='l1', solver='liblinear')

In [45]:
imputed_c_train.nunique()

ID_C              9765
BMI32             4020
ETHANL32           699
CURSMK31            31
MOVE                61
CARB              8831
CHOL              8641
DFIB              3229
PROT              7636
SFAT              3693
TFAT              6135
TCAL              9646
HDLSIU31           121
LDLSIU32           952
TCHSIU31           265
TRGSIU31           480
SBPC20              54
SBPC21              23
ANTC3A             113
ANTC3B             103
ECGMI32            142
HMTC2             7730
HYPTMD31            62
ANTICOAGCODE31       2
ASPIRINCODE31        2
STATINCODE31         2
HYPTMDCODE31         2
HYPERT34             2
CIGTYR01           463
V3AGE31             25
RACEGRP              2
DIABTS33            28
ELEVEL01             7
GENDER               2
CIGT31               5
ANTA01              65
CHOLMDCODE31        22
dtype: int64

In [46]:
pred_visit_3 = clf.predict(imputed_c_test)
accuracy_score(pred_visit_3,y_test)

0.678951678951679

In [47]:
roc_auc_score(y_test, pred_visit_3)

0.6577048055165313